<html>

<head>
    <title>Выбрать чат</title>
    {{> meta}}
</head>

<form class="form">
    <nav class="menu">
        <ul class="menu-list">
            <li>
                <div class="chat-app-title-container">
                    <div class="chat-app-title">
                        MessageApp
                    </div>
                    <button class="chat-btn-more">
                        <i class="fa-solid fa-ellipsis-vertical chat-btn-more-color" />
                    </button>
                </div>
            </li>
            <li>
                <div class="chat-search-container">
                    <input placeholder="Поиск" class="chat-search-input" />
                </div>
            </li>
            {{#each chatList.item}}
            <li class="menu-item">
                <a href="#">
                    <table class="width-100">
                        <tr>
                            <td rowspan="2" class="text-align-center width-45">
                                <img src="{{avatar}}" alt="Avatar" class="chat-avatar-img">
                            </td>
                            <td class="chat-title">
                                {{name}}
                            </td>
                            <td class="chat-message-text text-align-right width-35">
                                {{lastMessage.time}}
                            </td>
                        </tr>
                        <tr>
                            <td class="chat-message-text text-align-left ">
                                {{lastMessage.text}}
                            </td>
                            <td>
                                {{#if unReadCount}}
                                <span class="chat-badge">{{ unReadCount }}</span>
                                {{/if}}
                            </td>
                        </tr>
                    </table>
                </a>
            </li>
            {{/each}}
        </ul>
    </nav>

    <div class="chat-message-container">
        {{#each messageList.message}}
        <div class="chat-message {{class}}">
            <p>{{text}}</p>
            <!--<div><img src="{{image}}" alt="Image"></div>-->
            <div class="chat-message-text chat-message-time">{{time}}</div>
        </div>
        {{/each}}



    </div>

    <div class="chat-message-send-container">
        <input placeholder="Сообщение" class="chat-message-send" />
        <button class="chat-btn">
            <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>



</form>

</html>
