<main>
  <div class="{{styles.form-panel}}">
    <div class="{{styles.form-panel-wrapper}}">
      <form class="{{styles.form}}">

        <span class="{{styles.avatar}}">
          <img
            src="https://ya-praktikum.tech/api/v2/resources/{{avatar}}"
            alt="Avatar"
            class="{{styles.avatar-img}}"
          />
        </span>

        <div>
          {{{inputOldPsw}}}
          {{{inputNewPsw}}}
          {{{inputNewPswAppr}}}
        </div>

        {{{button}}}

      </form>
    </div>
  </div>
</main>
