<div class={{styles.form-panel-btn}}>
  <div class={{styles.form-panel-btn-wrapper}}>
    <div class={{styles.form-panel-bgbtn}}></div>
    <button class={{styles.form-panel-form-btn}}>{{text}}</button>
  </div>
</div>
