<main>
  <div class="{{styles.form-panel}}">
    <div class="{{styles.form-panel-wrapper}}">
      <form class="{{styles.form}}">

        <span class="{{styles.form-title}}">
          Создать чат
        </span>

        {{{input}}}

        {{{button}}}

      </form>
    </div>
  </div>
</main>
