<main>
  <div class="{{styles.form-panel}}">
    <div class="{{styles.form-panel-wrapper}}">
      <form class="{{styles.form}}" autocomplete="off">

        <span class="{{styles.form-title}}">
          Добавить пользователя
        </span>

        {{{input}}}

        {{{button}}}

        <!-- <div class="{{styles.autocomplete}}" style="width:300px;">
          <input type="text" name="myCountry" placeholder="Country" />
        </div>-->

      </form>
    </div>
  </div>
</main>
