<form class="{{styles.form}}">
  <nav class="{{styles.menu}}">
    <!--TODO-->
    <div style="position: sticky; top: 90%; margin-left: 80%;">
      {{{buttonCreate}}}
    </div>

    <ul class="{{styles.menu-list}}">
      <li>
        <div class="{{styles.chat-app-title-container}}">
          <div class="{{styles.chat-app-title}}">
            MessageApp
          </div>
          <button class="{{styles.chat-btn-more}}">
            <i
              class="fa-solid fa-ellipsis-vertical
                {{styles.chat-btn-more-color}}"
            ></i>
          </button>
        </div>
      </li>
      <li>
        <div class="{{styles.chat-search-container}}">
          <input placeholder="Поиск" class="{{styles.chat-search-input}}" />
        </div>
      </li>
      {{{chatsList}}}
    </ul>

  </nav>

  <div class="{{styles.chat-message-container}}">

    {{{messageContainer}}}
  </div>

  {{{usersListModal}}}

</form>
