<form class="{{styles.form}}">
  <nav class="{{styles.menu}}">

    <ul class="{{styles.menu-list}}">
      <li>
        <div class="{{styles.chat-app-title-container}}">
          <div class="{{styles.chat-app-title}}">
            MessageApp
          </div>
          <!--<button class="{{styles.chat-btn-more}}">
            <i
              class="fa-solid fa-ellipsis-vertical
                {{styles.chat-btn-more-color}}"
            ></i>
          </button>-->

          <div class="{{styles.dropdown}} {{styles.float-right}}">
            {{{buttonMore}}}
            <div name="mainDropdown" class="{{styles.dropdown-content}}">
              <p name="toProfile">Профиль</p>
              <p name="createChats">Создать новый чат</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="{{styles.chat-search-container}}">
          <input placeholder="Поиск" class="{{styles.chat-search-input}}" />
        </div>
      </li>
      {{{chatsList}}}
    </ul>

  </nav>

  <div class="{{styles.chat-message-container}}">

    {{{messageContainer}}}
  </div>

  {{{usersListModal}}}

</form>
