<form class="{{styles.form}}">
  <nav class="{{styles.menu}}">
    <!--TODO-->
    <div style="position: sticky; top: 90%; margin-left: 80%;">
      {{{buttonCreate}}}
    </div>

    <ul class="{{styles.menu-list}}">
      <li>
        <div class="{{styles.chat-app-title-container}}">
          <div class="{{styles.chat-app-title}}">
            MessageApp
          </div>
          <button class="{{styles.chat-btn-more}}">
            <i
              class="fa-solid fa-ellipsis-vertical
                {{styles.chat-btn-more-color}}"
            ></i>
          </button>
        </div>
      </li>
      <li>
        <div class="{{styles.chat-search-container}}">
          <input placeholder="Поиск" class="{{styles.chat-search-input}}" />
        </div>
      </li>
      {{{chatsList}}}
    </ul>

  </nav>

  <div class="{{styles.chat-message-container}}">

    {{{messageContainer}}}
  </div>

  <div class="{{styles.chat-message-send-container}}">
    {{{inputMessage}}}

    {{{sendButton}}}
  </div>

  <div name="chatsUsersModal" class="{{styles.modal}}">
    <div class="{{styles.modal-content}}">

      <div class="{{styles.modal-header}}">
        <span class="{{styles.close}}" name="closeChatsUsersModal"><i
            class="fa-solid fa-xmark"
          ></i></span>

        <p>{{activeChat.title}}</p>
        <p class="{{styles.modal-text}}">
          {{users.length}}
          участников(-а) чата
        </p>
      </div>

      <div class="{{styles.modal-body}}">
        <!-- {{#each users}}
          <span class="{{../styles.close}}">
            <i class="fa-regular fa-trash-can"></i>
          </span>
          <p>{{this.display_name}} {{this.id}} </p>
        {{/each}}-->
        {{{usersList}}}
      </div>
    </div>

  </div>

</form>
