<main>
  <div class={{styles.form-panel}}>
    <div class={{styles.form-panel-wrapper}}>
      <form class={{styles.form}}>

        <span class={{styles.form-title}}>
          Регистрация
        </span>

        <div>
          {{{inputEmail}}}
          {{{inputLogin}}}
          {{{inputFName}}}
          {{{inputSName}}}
          {{{inputPhone}}}
          {{{inputPassword}}}
        </div>

        {{{button}}}

        <div class="{{styles.text-align-center}} {{styles.p-t-15}}">
          <a
            class="{{styles.text-primary}}"
            href="/src/pages/LoginPage/login.hbs"
          >
            Войти
          </a>
        </div>

      </form>
    </div>
  </div>
</main>
