<main>
  <div class="{{styles.form-panel}}">
    <div class="{{styles.form-panel-wrapper}}">
      <form class="{{styles.form}}">

        <span class="{{styles.avatar}}">
          <a href="/src/pages/AvatarEditPage/avatarEdit.hbs"><img
              src={{avatar}}
              alt="Avatar"
              class="{{styles.avatar-img}}"
            /></a>
        </span>

        <div>
          {{{inputEmail}}}
          {{{inputLogin}}}
          {{{inputFName}}}
          {{{inputSName}}}
          {{{inputDName}}}
          {{{inputPhone}}}
        </div>

        {{{button}}}

      </form>
    </div>
  </div>
</main>
