<main>
  <div class="{{styles.form-panel}}">
    <div class="{{styles.form-panel-wrapper}}">
      <form class="{{styles.form}}">

        {{{avatar}}}

        <span class="{{styles.form-title}}">
          {{first_name}}
        </span>

        <div>
          {{{inputEmail}}}
          {{{inputLogin}}}
          {{{inputFName}}}
          {{{inputSName}}}
          {{{inputDName}}}
          {{{inputPhone}}}
        </div>

        {{{linkDataChange}}}
        {{{linkPswChange}}}
        {{{linkChats}}}
        {{{linkLogout}}}

      </form>
    </div>
  </div>
</main>
