--- first_name: "Имя пользователя" ---
<main>
  <div class="{{styles.form-panel}}">
    <div class="{{styles.form-panel-wrapper}}">
      <form class="{{styles.form}}">

        <span class="{{styles.avatar}}">
          <a href="/src/pages/AvatarEditPage/avatarEdit.hbs">
            <!--TODO-->
            <img
              src="../../../static/image-outline.svg"
              alt="Avatar"
              class="{{styles.avatar-img}}"
            /></a>
        </span>

        <span class="{{styles.form-title}}">
          {{first_name}}
        </span>

        <div>
          {{{inputEmail}}}
          {{{inputLogin}}}
          {{{inputFName}}}
          {{{inputSName}}}
          {{{inputDName}}}
          {{{inputPhone}}}
        </div>

        <div class="{{styles.text-align-left}} {{styles.p-t-15}}">
          <a
            class="{{styles.text-primary}}"
            href="/src/pages/ProfileEditPage/profileEdit.hbs"
          >
            Изменить данные
          </a>
        </div>
        <div class="{{styles.text-align-left}} {{styles.p-t-15}}">
          <a
            class="{{styles.text-primary}}"
            href="/src/pages/PasswordEditPage/passwordEdit.hbs"
          >
            Изменить пароль
          </a>
        </div>
        <div class="{{styles.text-align-left}} {{styles.p-t-15}}">
          <a class="{{styles.text-danger}}" href="../LoginPage/login.hbs">
            Выйти
          </a>
        </div>

      </form>
    </div>
  </div>
</main>
