<main>
  <form class="{{styles.form}}">
    <div class="{{styles.form-panel}}">
      <div>
        <span class="{{styles.error-form-title}}">
          500
        </span>
        <div class="{{styles.text-align-center}} {{styles.p-t-15}}">
          <p>Что-то пошло не так</p>
        </div>
        <div class="{{styles.text-align-center}} {{styles.p-t-50}}">
          <a class="{{styles.text-primary}}" href="">Назад к чатам</a>
        </div>
      </div>
    </div>
  </form>
</main>
