<main>
  <div class="{{styles.form-panel}}">
    <div class="{{styles.form-panel-wrapper}}">
      <form class="{{styles.form}}">

        <span class="{{styles.form-title}}">
          Вход
        </span>

        {{{inputLogin}}}
        {{{inputPassword}}}

        {{{button}}}

        <div class="{{styles.text-align-center}} {{styles.p-t-15}}">
          <a class="{{styles.text-primary}}" href="/src/layouts/signup.hbs">
            Регистрация
          </a>
        </div>

      </form>
    </div>
  </div>
</main>
