<main>
  <form class="{{styles.form}}">
    <div class="{{styles.form-panel}}">
      <div>
        <span class="{{styles.error-form-title}}">
          404
        </span>
        <div class="{{styles.text-align-center}} {{styles.p-t-15}}">
          <p>Страница не найдена</p>
        </div>
        <div class="{{styles.text-align-center}} {{styles.p-t-50}}">
          {{{link}}}
        </div>
      </div>
    </div>
  </form>
</main>
