<div>
  <div class="{{styles.input-field-wrapper}}">

    <div>{{{input}}}</div>

    <span
      class="{{styles.input-field-focus}}"
      data-placeholder="{{text}}"
    ></span>

    <span
      class="{{styles.input-field-error-message}}"
      name="{{name}}ErrMessage"
    ></span>

  </div>
</div>
