<div name="chatCreateModal" class="{{styles.modal}}">
  <div class="{{styles.modal-content}}">

    <span class="{{styles.close}}" name="closeCreateModal">
      <i class="fa-solid fa-xmark"></i>
    </span>

    <div class="{{styles.form-panel-wrapper}}">

      <form class="{{styles.form}}">

        <span class="{{styles.form-title}}">
          Создать чат
        </span>

        {{{input}}}

        {{{button}}}

      </form>
    </div>
  </div>

</div>
