<div>
  <span class="{{styles.avatar}}" name="avatarSpan">
    <img {{#if avatar}}
      src="https://ya-praktikum.tech/api/v2/resources/{{avatar}}"
	  {{else}}
	  src="{{img}}"
	  {{/if}}
      alt="Avatar"
      class="{{styles.avatar-img}}"
      name="avatarImg"
    />

  </span>
</div>
