{{#if activeChat}}
  <div>
    <div class="{{styles.message-container-header}}">{{{header}}}</div>

    <div class="{{styles.message-list}}">{{{messages}}}</div>

    <div class="{{styles.message-send-container}}">
      {{{inputMessage}}}

      {{{sendButton}}}
    </div>
  </div>
{{else}}
  <div class="{{styles.empty-chat}}">
    <p class="{{styles.empty-chat-p}}">Выберите чат</p>
  </div>
{{/if}}
